*,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  font-size: 13px;
}

.container {
  width: 330px;
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 12%);
  box-shadow: 0 0 6px 3px hsla(75, 94%, 57%, 0.05);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 1.4rem;
  font-weight: 600;
}
img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-top: 0.5rem;
}

.info {
  margin: 1.2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
}

.location {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 1.5rem;
}

li {
  width: 100%;
  transition: all 0.3s ease;
  text-align: center;
  display: block;
  padding: 0.8rem 0;
  border-radius: 8px;
  background-color: hsl(0, 0%, 20%);
  font-weight: 700;
}

li a {
  text-decoration: none;
  color: inherit;
}
.github:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 0%);
  transform: translateY(-2px) scale(1.01);
  box-shadow: 0 6px 16px hsla(75, 94%, 57%, 0.398);
}
.linkedin:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 0%);
  transform: translateY(-2px) scale(1.01);
  box-shadow: 0 6px 16px hsla(75, 94%, 57%, 0.398);
}
.frontend-mentor:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 0%);
  transform: translateY(-2px) scale(1.01);
  box-shadow: 0 6px 16px hsla(75, 94%, 57%, 0.398);
}
.twitter:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 0%);
  transform: translateY(-2px) scale(1.01);
  box-shadow: 0 6px 16px hsla(75, 94%, 57%, 0.398);
}
.instagram:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 0%);
  transform: translateY(-2px) scale(1.01);
  box-shadow: 0 6px 16px hsla(75, 94%, 57%, 0.398);
}
